.name-input {
  width: 200px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid black;
  color: black;
  background-color: white;
  box-sizing: border-box;
  border-radius: 10px;
}
.name-input:focus {
  outline: none;
  border:2px solid blue;
}

h1 {
  color: black;
  background-color: white;
}
.btn-container {
  margin-top: 20px;
  gap:20px;
  display: flex;
  left:20px;
}
.btn{
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}
.error-msg {
  color: red;
  margin-top: 10px;
}
.disabled{
  background-color: grey;
  cursor: not-allowed;
}
